<ion-menu class="toolbar" color="warning" side="start" content-id="main-content">
  <ion-header color="warning">
    <ion-toolbar color="warning">
      <ion-title color="light">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item>
        <ion-icon name="alert-circle-sharp" slot="start"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="exit-sharp" slot="start"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">O que deseja comer?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="margin-left">
    <ion-card class="card" style="width: 44%;">
      <div class="produto">
        <img class="center" src="../../../assets/icon/pizza.jpg" alt="">
      </div>
      <ion-card-header>
        <ion-card-subtitle class="preco-produto">R$35,90</ion-card-subtitle>
        <ion-card-title class="titulo-produto">Pizza de Peperone</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="warning">
          <ion-icon name="cart"></ion-icon> ADD
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="card" style="width:44%;">
      <div class="produto">
        <img class="center" src="../../../assets/icon/pizzaMussarela.jpeg" alt="">
      </div>
      <ion-card-header>
        <ion-card-subtitle class="preco-produto">R$30,90</ion-card-subtitle>
        <ion-card-title class="titulo-produto">Pizza de Mussarela</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="warning">
          <ion-icon name="cart"></ion-icon> ADD
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-row>

</ion-content>