.margin-left{
    margin-left: 5px;
}

.produto img{
    max-width: 350px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin: auto;
}

.titulo-produto{
    font-size: 14px;
}

.preco-produto{
    font-size: 13px;
    font-weight: 400;
}