<ion-content>
  <div class="cor-fundo">
    <div class="ion-text-center">
      <img src="../../../assets/imgs/ProjetoDeliveryLogo.png" alt="Texto">
    </div>

    <div class="text">
      Seja bem-vindo <br>
      <b>Você é...</b>
    </div>

    <div class="ion-text-center">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <p>
              <ion-button class="botao" [routerLink]="['/login-cliente']" expand="block" color="primary">
                <ion-grid>
                  <ion-col>
                    <ion-row class="icone-cliente">
                      <ion-icon class="icone" name="fast-food-outline"></ion-icon>
                    </ion-row>
                    <ion-row>
                      <label class="texto-cliente" style="color: white;"> Cliente </label>
                    </ion-row>
                  </ion-col>
              </ion-grid>
              </ion-button>
            </p>
          </ion-col>
          <ion-col size="6">
            <p>
              <ion-button  class="botao" [routerLink]="['/login-empresa']"  expand="block" color="danger">
                <ion-grid>

                  <ion-col>
                    <ion-row class="icone-empresa">
                      <ion-icon name="business-outline"></ion-icon>
                    </ion-row>
                    <ion-row>
                      <label class="texto-empresa" style="color: white;">Empresa</label>
                    </ion-row>
                  </ion-col>

                </ion-grid>
              </ion-button>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>