<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Cadastro Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <br>
    <div class="ion-text-center">
      <b>Informações para login</b>
    </div>
    <form [formGroup]="formCadastroCliente" novalidade (ngSubmit)="salvarCadastroCliente()">
      <ion-grid>
        <ion-item>
          <ion-label position="stacked">Nome <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="nome" required type="text"></ion-input>
        </ion-item>
        <ngx-message-error formControlName="nome"></ngx-message-error>

        <ion-item>
          <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="email" required type="text"></ion-input>
        </ion-item>
        <ngx-message-error formControlName="email"></ngx-message-error>

        <ion-row>
          <ion-col>
            <ion-item size="6">
              <ion-label position="stacked">Senha <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="senha" required type="password"></ion-input>
            </ion-item>
            <ngx-message-error formControlName="senha"></ngx-message-error>
          </ion-col>

          <ion-col>
            <ion-item size="6">
              <ion-label position="stacked">Confirmar Senha <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="confSenha" required type="password"></ion-input>
            </ion-item>
            <ngx-message-error formControlName="confSenha"></ngx-message-error>
          </ion-col>
        </ion-row>

        <br>

        <div class="ion-text-center">
          <b>Informações para entrega</b>
        </div>

        <ion-row>
          <ion-col>
            <ion-item size="8">
              <ion-label position="stacked">Endereço <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="endereco" required type="text"></ion-input>
            </ion-item>
            <ngx-message-error formControlName="endereco"></ngx-message-error>
          </ion-col>

          <ion-col size="4">
            <ion-item>
              <ion-label position="stacked">Nº <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="numero" required type="number"></ion-input>
            </ion-item>
            <ngx-message-error formControlName="numero"></ngx-message-error>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item size="6">
              <ion-label position="stacked">Bairro <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="bairro" required type="text"></ion-input>
            </ion-item>
            <ngx-message-error formControlName="bairro"></ngx-message-error>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">Complemento <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="complemento" required type="text"></ion-input>
            </ion-item>
            <ngx-message-error formControlName="complemento"></ngx-message-error>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label position="stacked">Celular <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="telefone" required type="text"></ion-input>
        </ion-item>
        <ngx-message-error formControlName="telefone"></ngx-message-error>
      </ion-grid>

      <br>
      <ion-button type="submit" expand="block" shape="round" color="danger"><b style="color: white;"> Cadastrar
      </b></ion-button>
    </form>

  </ion-list>

</ion-content>